{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{% static "app.css" %}"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd4Poy6TmjkrC8AHTeL7XX6aLS4Pyz45I"></script>
    <script src="{% static "vendor.js" %}"></script>
    <script src="{% static "app.js" %}"></script>
</head>
<body>

<div id="app">

</div>

{% block body %}
{% endblock %}
<script>
    const datas = {
        user: "toto",
        staticFolder :"{% static ""%}"
    };
</script>
<script>require('resources/vue/index.js');</script>
</body>
</html>